@use "../../styles/variables.scss" as vars;
.header {
  width: 100%;
  min-height: 260px;
  // background-image: url("../../assets/images/HeaderBack.svg");
  // background-repeat: no-repeat;
  // background-position: -8px 0px;
  // background-size: 100% auto;
  position: relative;
  &__wave {
    position: absolute;
    top: 0;
    left: -8;
    z-index: -1;
    width: 100%;
    height: 120px;

    pointer-events: none;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__mainMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-left: auto;
    text-align: center;
    color: white;

    &-link {
      width: 164px;
      height: 35px;
      background-color: vars.$main-grey;
      text-transform: uppercase;
      padding-top: 4px;
      font-size: 16px;
    }
    &-first {
      background-color: vars.$main-color;
      border-radius: 0 0 0 5px;
    }
    &-last {
      border-radius: 0 0 5px 0;
    }
  }

  &__navMenu {
    display: flex;
    gap: 43px;
    margin-left: 67px;

    a {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: vars.$grey2;
      text-decoration: none;
      transition: color 0.3s ease;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: vars.$main-color;
        transition: width 0.3s ease;
      }

      &:hover {
        color: vars.$main-color;

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__buttons {
    display: flex;

    align-items: center;
    gap: 30px;

    &-signIn {
      display: flex;
    }
    &-text {
      margin-left: 9px;
      font-size: 16px;
      color: vars.$grey-text;
    }
  }
}
