html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.flex{
  display: flex;
  align-items: center;
}

.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}
.col-11 {
  grid-column: span 11;
}
.col-12 {
  grid-column: span 12;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}
