@use "../../styles/variables.scss" as vars;

.wrapper {
  width: 100%;
  background-color: vars.$background;

  &__header {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 41px;

    &-recent {
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      text-transform: uppercase;
      color: vars.$grey2;
      padding-top: 12px;
      height: 50px;
      width: 50%;
      text-align: center;
      cursor: pointer;
    }
    &-popular {
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      text-transform: uppercase;
      color: vars.$grey2;
      padding-top: 12px;
      height: 50px;
      width: 50%;
      text-align: center;
      cursor: pointer;
    }
    &-recentActive {
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      text-transform: uppercase;
      color: vars.$grey2;
      padding-top: 12px;
      height: 50px;
      width: 50%;
      text-align: center;
      background-color: #f0f0f0;
      cursor: pointer;
    }
    &-popularActive {
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      text-transform: uppercase;
      color: vars.$grey2;
      padding-top: 12px;
      height: 50px;
      width: 50%;
      text-align: center;
      background-color: #f0f0f0;
      cursor: pointer;
    }
  }
}
