@use "../../styles/variables.scss" as vars;
.search {
  width: 240px;
  height: 50px;
  position: relative;
  &__input {
    border-radius: 100px;
    border: 1px solid vars.$main-grey;
    padding: 13px 13px 13px 43px;
    color: vars.$grey-text;

    ::placeholder {
      color: vars.$placeholder;
      font-size: 16px;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
  }
}
